{{/* Filename: internal/mailer/templates/user_welcome.tmpl */}}
{{ define "subject" }} Welcome to Belize RealEstate {{end}}
{{ define "plainBody" }}

Hi, 

Thank you for signing up for an Belize RealEstate account!
We are excited to have you on board!
For future reference, please note that your idenfication number
is {{ .ID }}.

Thanks,

The Belize RealEstate Team
{{ end }}

{{ define "htmlBody" }}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

</head>
<body>
<p> Hi, </p>

<p> Thank you for signing up for an Belize RealEstate account! </p>
<p> We are excited to have you on board! </p>
<p> For future reference, please note that your idenfication number
is {{ .ID }}. </p>

<p> Thanks, </p>

<p> The Belize RealEstate Team </p>

</body>

</html>

{{ end }}
